@tailwind base;
@tailwind components;
@tailwind utilities;
// @use "foundation/utils";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.serif {
  font-family: Georgia, Times, serif;
}

.outer {
  position: relative;
  padding: 0 4vmin;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.gap-v {
  grid-gap: 4vmin;
}

.h-50 {
  height: 200px;
}

.horizontal-list {
  &:not(:last-child)::after {
    content: ', ';
  }
}

.avatar {
  width: 2.3rem;
  height: 2.3rem;
}

.leading-5 {
  line-height: 1.1;
}

.post-card-title {
  display: -webkit-box;
  overflow-y: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.excerpt {
  display: -webkit-box;
  overflow-y: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

// .post-card-large {
//   grid-column: 1/span 3;
//   display: grid;
//   grid-gap: 4vmin;
//   grid-template-columns: 1fr 1fr 1fr;
//   min-height: 280px;
//   border-top: 0;
// }

// .posts-card:first-child {
//   grid-column: 1/span 3;
//   display: grid;
//   grid-gap: 4vmin;
//   grid-template-columns: 1fr 1fr 1fr;
//   min-height: 280px;
//   border-top: 0;
//   .image {
//     height: 380px;
//     grid-column: 1/span 2;
//   }
// }
