:root {
  --black: #fafafb;
  --white: #151719;
  --gray-base: #80868e;
  --main-navigation-color: #1c1e21;
  --main-navigation-color-inverted: #fafafb;
  --selectable-item-color-hover: #1c1d20;
  --selectable-item-color-focus: #212326;
  --selectable-item-color-active: #212326;
  --selectable-item-color-highlighted: #212326;
  --list-border-color: #2b2d31;
  --list-border: 1px solid #2b2d31;
}

[data-ui="Card"] * {
  mix-blend-mode: normal !important;
}
