// html {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

.link {
  color: var(--accentColor);
}

.horizontal-list {
  &:not(:last-child)::after {
    content: ', ';
  }
}

.blockquote {
  border-left: 4px solid var(--accentColor);
  margin-left: -2rem;
  padding-left: calc(2rem - 4px);
  @media (max-width: 767px) {
    margin-left: -1rem;
    padding-left: calc(1rem - 4px);
  }
}

code {

}

