:root {
  --black: hsl(210, 9%, 4%);
  --link: hsl(216, 11%, 9%);
  --text: hsl(216, 5%, 22%);
  --meta: hsl(198, 13%, 52%);
  --cta: hsl(216, 11%, 9%);
  --footer-heading: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 1%, 62%);
  --footer-border: hsl(210, 3%, 14%);
  --font-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-serif: Georgia,Times,serif;
  --font-mono: Menlo,Courier,monospace;
}
