---
import sanityClient from "lib/sanityClient"
import { kebabCase } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { tagsQuery } from "lib/queries"
import { Post } from "lib/interfaces"

export async function getStaticPaths() {
  const data: { posts: Post[] } = await sanityClient
    .fetch(tagsQuery)
    .then(response => response)
  const tags = [...new Set(data.posts
    .map(e => e.keywords.split(", "))
    .flat(1)
    .sort()
  )]
  return tags.map(tag => {
    return {
      params: { slug: kebabCase(tag) },
      props: { tag }
    }
  })
}
const { slug } = Astro.request.params
const { tag } = Astro.props as { tag: string }
const title = `Tag: ${tag}`
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <p><a href="/tags">All tags</a></p>
  </div>
</BaseLayout>
