---
import BaseLayout from "layouts/BaseLayout.astro"

const title = "four-oh-four"
---

<BaseLayout title={title}>
  <div class={title}>
    <h1>404 Not Found</h1>
    <p>You've hit a path that does not exist.</p>
    <a href="/">Home</a>
  </div>
</BaseLayout>
