---
import sanityClient from "../lib/sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"
import { authorsQuery } from "../lib/queries"
import { Author } from "../lib/interfaces"

const response = await sanityClient.fetch(authorsQuery)
const data: { authors: Author[] } = await response
const title = "All Authors"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <ul>
      {data.authors.map(author =>
        <li>
          <a href={`/author/${author.slug}`}>{author.name}</a>
        </li>
      )}
    </ul>
  </div>
</BaseLayout>
