---
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import { categoriesQuery } from "lib/queries"
import { Category } from "lib/interfaces"

const response = await sanityClient.fetch(categoriesQuery)
const data: { categories: Category[] } = await response
const title = "All Categories"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <ul>
      {data.categories.map(category =>
        <li>
          <a href={`/category/${category.slug}`}>{category.title}</a>
        </li>
      )}
    </ul>
  </div>
</BaseLayout>
