---
import sanityClient from "../lib/sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"
import { kebabCase } from "../lib/utils"
import { tagsQuery } from "../lib/queries"
import { Post } from "../lib/interfaces"

const response = await sanityClient.fetch(tagsQuery)
const data: { posts: Post[] } = await response
const tags = [...new Set(data.posts.map(e => e.keywords.split(", ")).flat(1).sort())]
const title = "All Tags"
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <ul>
      {tags.map(tag =>
        <li><a href={`/tags/${kebabCase(tag)}`}>{tag}</a></li>
      )}
    </ul>
  </div>
</BaseLayout>
