---
const { siteName } = Astro.props
const year = new Date().getFullYear()
---

<footer class="outer bg-zinc-700">
  <div
    class="inner mx-auto text-sm text-gray-100 grid grid-cols-3 pt-10 pb-40"
  >
    <p>
      <a href="/">{siteName}</a>
      &copy; {year}</p>
    <p class="text-center">Data & privacy &bull; Contact</p>
    <p class="text-right">
      Powered by
      <a href="https://astro.build" target="_blank" rel="noreferrer">Astro</a>
      and
      <a href="https://sanity.io" target="_blank" rel="noreferrer">Sanity</a>
    </p>
  </div>
</footer>
