---
import { Navigation, Settings } from "lib/interfaces"

const {
  navigation,
  settings
} = Astro.props as {
  navigation: Navigation
  settings: Settings
}
const year = new Date().getFullYear()
---

<footer class="bg-gray-900">
  <div
    class="mx-8 smooth text-sm text-gray-100"
  >
    <div
      class="container grid md:grid-cols-3 pt-10 pb-32"
    >
      <p class="text-center md:text-left mb-1.5">
        <a href="/">{settings.siteName}</a>
        <span class="opacity-100 md:opacity-80">&copy; {year}</span>
      </p>
      <p class="text-center mb-8">
        <a
          href="/privacy"
          target="_self"
          rel="noreferrer"
          class="opacity-80 hover:opacity-100"
        >Data & privacy</a>
        <span class="opacity-80">&bull; </span>
        <a
          href="/contact"
          target="_self"
          rel="noreferrer"
          class="opacity-80 hover:opacity-100"
        >Contact</a>
      </p>
      <p class="text-center md:text-right">
        <span class="opacity-80">Powered by</span>
        <a
          href="https://astro.build"
          target="_blank"
          rel="noreferrer"
          class="opacity-80 hover:opacity-100"
        >Astro</a>
        <span class="opacity-80">and</span>
        <a
          href="https://sanity.io"
          target="_blank"
          rel="noreferrer"
          class="opacity-80 hover:opacity-100"
        >Sanity</a>
      </p>
    </div>
  </div>
</footer>
