---
import { Navigation } from "../lib/interfaces"

const { navigation } = Astro.props as { navigation: Navigation }
---
<nav class="text-white inner mx-auto leading-8 py-3">
  <ul class="flex gap-7">
    {navigation.primary.map(item =>
      <li>
        <a
          href={`/${item.url.slug}`}
          class="opacity-80 hover:opacity-100 font-medium"
        >
          {item.label}
        </a>
      </li>
    )}
  </ul>
</nav>
